[submodule "ThirdParty/Utils/miniz"]
	path = ThirdParty/Utils/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "ThirdParty/Physics/bullet3"]
	path = ThirdParty/Physics/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "ThirdParty/UI/imgui"]
	path = ThirdParty/UI/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ThirdParty/ECS/entt"]
	path = ThirdParty/ECS/entt
	url = https://github.com/skypjack/entt.git
[submodule "ThirdParty/Scripting/angelscript-mirror"]
	path = ThirdParty/Scripting/angelscript-mirror
	url = https://github.com/codecat/angelscript-mirror.git
[submodule "ThirdParty/AI/recastnavigation"]
	path = ThirdParty/AI/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
